header {
    background: #030303;
    padding: 20px 0 25px;
    height: 200px;
}

.header__logo {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 5px;
}

.header__logo-font {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: #FFFFFF;
    letter-spacing: 5px;
    margin-left: 20px;
    margin-top: 5px;
}

.header-font {
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 2px;
}

.header_container {
    max-width: 75.5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header_container a {
    margin: 65px 5px 65px 71px;
    color: white;
}

#menu-checkbox {
    display: none;
}



@media screen and (max-width: 1250px) {
    .header-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .header__logo {
        display: flex;
        align-items: flex-start;
    }
    .header__logo img {
        padding-top: 5px;
    }

    .main-menu {
        display: none;
    }

    .main-menu li {
        width: 100%;
        display: block;
    }

    .main-menu a {
        display: block;

    }

    .toggle-button {
        text-align: center;
        display: block;
        cursor: pointer;
        color: white;
    }

    .toggle-button:after {
        margin: 8px;
        content: attr(data-open);
        display: block;
    }

    #menu-checkbox:checked + nav[role="navigation"] .main-menu {
        display: block;
    }

    #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
        content: attr(data-close);
    }

    .header-container a {
        margin-right: -65px;

    }
    .main-menu{
        position: relative;
        top: 10px;
        right: 30px;
    }
}