.explore__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.explore__container-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 46%;
}

.explore__container-image {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 50%;
    padding-top: 15px;
}

.explore__text {
    text-wrap: avoid;
    margin-top: 75px;
    font-style: normal;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
}

.explore__text p {
    margin-bottom: 25px;
    position: relative;
}

@media screen and (max-width: 1800px) {
    .explore__container {
        display: flex;
        flex-direction: column;
    }
    .explore__container-content {
        max-width: 100%;
    }

}
@media screen and (max-width: 930px) {
    .explore__container-image img{
        max-width: 100%;
    }
}