@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('header.css');
@import url('welcome.css');
@import url('virtual_tour.css');
@import url('picture_explore.css');
@import url('video.css');
@import url('art_galery.css');
@import url('buy_tickets.css');
@import url('contacts.css');
@import url('footer.css');

html {
    scroll-behavior: smooth;
}

body{
    z-index: 1;
}

.wrapper {
    max-width: 1920px;
    min-width: 290px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

.title {
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.black {
    background-color: #030303;
}

.white {
    background: white;
}

.gold {
    color: #9D8665;
}

.white-gold {
    color: rgb(202, 170, 125);
}

.font-forum {
    font-family: 'Forum', cursive;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-weight-thm {
    font-weight: 100;
}

a {
    text-decoration: none;
}

header a, footer a {
    color: #FFFFFF;
}

a:hover {
    color: #9D8665;
}

button:hover {
    background-color: #9D8665;
}

hr {
    width: 100%;
    height: 3px;
    border: none;
    background: #710707;
    border-radius: 0;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 75px;
}

.parallax {
    width: 100%;
}


@media screen and (max-width: 870px) {

    footer .container {
        padding: 5px;
    }
    .footer__container__logo {
        display: flex;
        flex-basis: 100%;
        align-self: center;
    }
    .footer__container__navigation {
        display: flex;
        flex-basis: 100%;
        align-self: center;
    }
    .footer__container__icons {
        display: flex;
        flex-basis: 100%;
        align-self: center;
    }
}

@media screen and (max-width: 1050px) {

    .tour__article  {
        width: 45%;
    }
    .tour__article hr {
        width: 70%;
    }
    .tour__article img {
        width: 100%;
    }
    .tour__article:nth-child(3) h3 {
        width: 100%;
        font-size: 26px;
    }
}
@media screen and (max-width: 920px) {

    .tour__article:nth-child(3) h3 {
        width: 100%;
        font-size: 20px;
    }
    .tour__article hr {
        width: 50%;
    }
}
@media screen and (max-width: 770px) {

    .tour__article:nth-child(3) h3 {
        width: 100%;
        font-size: 16px;
    }
    .tour__article hr {
        width: 35%;
    }
}
@media screen and (max-width: 640px) {

.container, .gallery__container, .tour__container, .welcome__container, .video__container {
    padding: 20px;
}
    .tour__article:nth-child(3) h3 {
        width: 100%;
        font-size: 30px;
    }
    .tour__article hr {
        width: 70%;
    }
    .title {
        font-size: 70px;
    }
    .tour__article  {
        width: 100%;
    }
}
@media screen and (max-width: 440px) {
    .title {
        font-size: 60px;
    }
    .tour__article:nth-child(3) h3 {
        width: 100%;
        font-size: 20px;
    }
    .tour__article h3 {
        width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .tour__article {
        width: 100%;
    }
    .tour__article hr {
        width: 70%;
    }
    .title {
        font-size: 50px;
    }
    .tour__article h3 {
        width: 100%;
    }
    /*.article__elem3 {*/
    /*   font-size: 20px;*/
    /*}*/
}
