.welcome__bg {
    background: #030303 url("../image/welcome.jpg") no-repeat center right;
}
.welcome_section {
    height: 750px;
}

.welcome__title {
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: pre;

}

.welcome__text {
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-top: 30px;
}

.welcome__button {
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    border: none;
    background: #710707;
    border-radius: 10px;
    width: 360px;
    height: 75px;
    margin-top: 70px;
}

.button__content {
    justify-content: center;
}

.welcome__container {
    max-width: 83.8%;
    width: 100%;
    margin: 0 auto;
    padding: 114px 75px;
}

@media screen and (max-width: 730px) {
    .welcome__container {
        width: 100%;
    }
    .welcome__title {
        font-size: 70px;
    }
}
@media screen and (max-width: 650px) {
    .welcome__container {
        width: 100%;
    }
    .welcome__title {
        font-size: 60px;
    }
}
@media screen and (max-width: 580px) {
    .welcome__container {
        width: 100%;
    }
    .welcome__title {
        font-size: 48px;
    }
}